@charset "utf-8";


/* 재무 - select 입력 */
.insurance_box .select_form label {
    color: #ff8164;
}

/* 고객센터 간격 */
.header_btnlist > li .right a {
    margin-left: 5px;   
}



@media screen and (max-width:480px) {
    
    .login_wrap.before > p {
        padding-right: 140px;
    }
    .login_wrap.before .btn_round {
        width: 120px;
    }

}

@media screen and (max-width:320px) {
    
    .login_wrap.before > p {
		padding-right: 100px;
	}
	.login_wrap.before .btn_round {
		width: 90px;	
	}

}